{% macro inputField(forName, label, inputName, type, inputValue, _context) %}

    {% set valid = not hasFieldErros(forName, inputName) %}

    <div class="form-group {{ valid ? ``: 'has-error' }}">
        <label class="col-sm-2 control-label">{{ label }}</label>
        <div class="col-sm-10">
            <div>
                {% if type == "text" %}
                <input type="text" class="form-control" name="{{ inputName }}" value="{{ inputValue }}">
                {% elseif type == "date" %}
                <input type="date" class="form-control" name="{{ inputName }}" value="{{ inputValue }}">
                {% elseif type == "number" %}
                <input type="number" class="form-control" name="{{ inputName }}" value="{{ inputValue }}">
                {% endif %}
            </div>
            {% if valid %}
            <span class="bi bi-check form-control-feedback" aria-hidden="true"></span>
            {% else %}
            <span class="bi bi-x form-control-feedback" aria-hidden="true"></span> %}
            {% for err in getFieldErrors(forName, inputName) %}
            <span class="help-inline">{{ err }}</span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}