{% extends "fragments/layout" %}

{% import "fragments/inputField" %}

{% block body %}

<h2>{% if not modoEditar %}Nuevo {% endif %} Videojuego </h2>
<form class="form-horizontal" id="add-videojuego-form" method="post"
      action="{% if modoEditar %}/videojuegos/{{videojuegoId}}/edit{% else %}/videojuegos/new{% endif %}">
    <input name="{{ csrfParamName }}" type="hidden" value="{{ csrfToken }}">
    <div class="form-group has-feedback">
        {{ inputField("videojuego", "Nombre", "nombre", "text", videojuego.nombre, _context) }}
        {{ inputField("videojuego", "Género", "genero", "text", videojuego.genero, _context) }}
        {{ inputField("videojuego", "Fecha de creación", "fechaDeCreacion","date", videojuego.fechaDeCreacion, _context) }}
        {{ inputField("videojuego", "Almacenamiento", "almacenamiento", "text", videojuego.almacenamiento, _context) }}
        {{ inputField("videojuego", "Costo", "costo", "number", videojuego.costo, _context) }}
        {% if not modoEditar %}
            {{ inputField('videojuego', 'Plataforma', 'plataforma', "text", videojuego.plataforma, _context) }}
        {% endif %}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    class="btn btn-primary" type="submit">{{ modoEditar ? 'Actualizar Videojuego' : 'Añadir Videojuego' }}
            </button>
        </div>
    </div>
</form>

{% endblock %}