{% extends "fragments/layout" %}

{% import "fragments/inputField" %}

{% block body %}

<h2>{% if videojuegos['new'] %}Nuevo {% endif %} Videojuego </h2>
<form class="form-horizontal" id="add-videojuego-form" method="post"
action="{% if videojuego.id is not empty %}/videojuegos/edit{% else %}/videojuegos/new{% endif %}">
    <div class="form-group has-feedback">
        <input type="hidden" id="id" name="id" value="{{ videojuego.id | default(0) }}">
        {{ inputField('videojuego', 'Nombre', 'nombre', "text", videojuego.nombre, __context) }}
        {{ inputField('videojuego', 'Género', 'genero', "text", videojuego.genero, __context) }}
        {{ inputField('videojuego', 'Fecha de creación',"date', fechaDeCreación', videojuego.fechaDeCreacion, __context) }}
        {{ inputField('videojuego', 'Almacenamiento', "text",'almacenamiento', videojuego.almacenamiento, __context) }}
        {{ inputField('videojuego', 'Plataforma', "text", 'plataforma', videojuego.plataforma, __context) }}
        {{ inputField('videojuego', 'Costo', 'costo', "costo", videojuego.costo, __context) }}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    class="btn btn-primary" type="submit">{{ videojuegos['new'] ? 'Añadir Videojuego' : 'Actualizar Videojuego' }}
            </button>
        </div>
    </div>
</form>